<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success">
            <i class="ace-icon fa fa-signal"></i>
        </button>

        <button class="btn btn-info">
            <i class="ace-icon fa fa-pencil"></i>
        </button>

        <button class="btn btn-warning">
            <i class="ace-icon fa fa-users"></i>
        </button>

        <button class="btn btn-danger">
            <i class="ace-icon fa fa-cogs"></i>
        </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>
</div><!-- /.sidebar-shortcuts -->
<div id="nav-div">
    <div id="myTree" style="display: none"></div>
    <ul class="nav nav-list" id="sidebar-menu">
        <li data-level="1" v-for="r in resources" @click="changeArrow(r)">

            <a
                    :href="r.url" class="dropdown-toggle"
                    haschild="r.check_Child_State==0?'true':'false'"
            >
                <i class="menu-icon" :class="r.icon"></i>
                <span class="menu-text"
                      style="vertical-align: middle;"
                > {{r.name}} </span>
                <b class="arrow"  :class="r.arrow?'fa fa-angle-up':'fa fa-angle-down'"></b>
            </a>
            <b class="arrow"></b>

            <ul class="submenu nav-hide" style="display:none;"> <!--子菜单  空白ul标签  可以放多个子菜单-->
                <li data-level="2" v-if="r.check_Child_State==0"  v-for="child in r.children">

                    <a
                            :href="child.url"
                            id=`menu_${child.url.replace(/\//g,'_')}`
                            haschild="false"
                    >
                        <i class="menu-icon" :class="child.icon"></i>
                        <span class="menu-text"
                        > {{child.name}} </span>
                    </a>
                    <b class="arrow"></b>

                </li>
            </ul>
        </li>
        <!-- <li data-level="1">

             <a
                     href="javascript:void(0);" class="dropdown-toggle"
                     haschild="true"
             >
                 <i class="menu-icon fa fa-lastfm"></i>
                 <span class="menu-text"
                       style="vertical-align: middle;"
                 > 单位管理 </span>
                 <b class="arrow fa fa-angle-down"></b>
             </a>
             <b class="arrow"></b>

             <ul class="submenu nav-hide" style="display:none;">
                 <li data-level="2">

                     <a
                             href="../office/office-detail.html"
                             id="menu_managercompanydetail"
                             haschild="false"
                     >
                         <i class="menu-icon "></i>
                         <span class="menu-text"
                         > 单位信息 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
                 <li data-level="2">

                     <a
                             href="../user/user.html"
                             id="menu_managercompanyaccounts"
                             haschild="false"
                     >
                         <i class="menu-icon "></i>
                         <span class="menu-text"
                         > 单位账号 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
                 <li data-level="2">

                     <a
                             href="workOrder/toIndex"
                             id="menu_managercompanywork"
                             haschild="false"
                     >
                         <i class="menu-icon "></i>
                         <span class="menu-text"
                         > 电子台账 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
             </ul>
         </li>
         <li data-level="1">

             <a
                     href="javascript:void(0);" class="dropdown-toggle"
                     haschild="true"
             >
                 <i class="menu-icon fa fa-puzzle-piece"></i>
                 <span class="menu-text"
                       style="vertical-align: middle;"
                 > 业务管理 </span>
                 <b class="arrow fa fa-angle-down"></b>
             </a>
             <b class="arrow"></b>

             <ul class="submenu nav-hide" style="display:none;">
                 <li data-level="2">

                     <a
                             href="workOrder/toIndex"
                             id="menu_manageradminwork"
                             haschild="false"
                     >
                         <i class="menu-icon "></i>
                         <span class="menu-text"
                         > 电子台账 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
                 <li data-level="2">

                     <a
                             href="qualification/index"
                             id="menu_managerqualificationindex"
                             haschild="false"
                     >
                         <i class="menu-icon "></i>
                         <span class="menu-text"
                         > 资质审核 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
                 <li data-level="2">

                     <a
                             href="demand/toIndex"
                             id="menu_managerdemandindex"
                             haschild="false"
                     >
                         <i class="menu-icon "></i>
                         <span class="menu-text"
                         > 服务需求 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
                 <li data-level="2">

                     <a
                             href="examine/toIndex"
                             id="menu_managerexamineindex"
                             haschild="false"
                     >
                         <i class="menu-icon "></i>
                         <span class="menu-text"
                         > 考核管理 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
                 <li data-level="2">

                     <a
                             href="index"
                             id="menu_managerappindex"
                             haschild="false"
                     >
                         <i class="menu-icon "></i>
                         <span class="menu-text"
                         > APP管理 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
                 <li data-level="2">

                     <a
                             href="statute/toIndex"
                             id="menu_managerstatuteindex"
                             haschild="false"
                     >
                         <i class="menu-icon fa fa-bolt"></i>
                         <span class="menu-text"
                         > 法律法规 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
             </ul>
         </li>
         <li data-level="1">

             <a
                     href="javascript:void(0);" class="dropdown-toggle"
                     haschild="true"
             >
                 <i class="menu-icon fa fa-group"></i>
                 <span class="menu-text"
                       style="vertical-align: middle;"
                 > 机构用户 </span>
                 <b class="arrow fa fa-angle-down"></b>
             </a>
             <b class="arrow"></b>

             <ul class="submenu nav-hide" style="display:none;">
                 <li data-level="2">

                     <a
                             href="sysArea/toIndex"
                             id="menu_managerarea"
                             haschild="false"
                     >
                         <i class="menu-icon fa fa-globe"></i>
                         <span class="menu-text"
                         > 区域管理 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
                 <li data-level="2">

                     <a
                             href="sysOffice/toIndex"
                             id="menu_manageroffice"
                             haschild="false"
                     >
                         <i class="menu-icon fa fa-sitemap"></i>
                         <span class="menu-text"
                         > 机构管理 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
                 <li data-level="2">

                     <a
                             href="sysUser/toIndex"
                             id="menu_managersysuser"
                             haschild="false"
                     >
                         <i class="menu-icon fa fa-user"></i>
                         <span class="menu-text"
                         > 用户管理 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
                 <li data-level="2">

                     <a
                             href="sysRole/toIndex"
                             id="menu_managerrole"
                             haschild="false"
                     >
                         <i class="menu-icon fa fa-graduation-cap"></i>
                         <span class="menu-text"
                         > 角色管理 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
             </ul>
         </li>
         <li data-level="1">

             <a
                     href="javascript:void(0);" class="dropdown-toggle"
                     haschild="true"
             >
                 <i class="menu-icon fa fa-cogs"></i>
                 <span class="menu-text"
                       style="vertical-align: middle;"
                 > 系统管理 </span>
                 <b class="arrow fa fa-angle-down"></b>
             </a>
             <b class="arrow"></b>

             <ul class="submenu nav-hide" style="display:none;">
                 <li data-level="2">

                     <a
                             href="../menu/menu.html"
                             id="menu_managermenu"
                             haschild="false"
                     >
                         <i class="menu-icon fa fa-list"></i>
                         <span class="menu-text"
                         > 菜单配置 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
                 <li data-level="2">

                     <a
                             href="../dict/dict.html"
                             id="menu_managerdict"
                             haschild="false"
                     >
                         <i class="menu-icon fa fa-calculator"></i>
                         <span class="menu-text"
                         > 字典管理 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
                 <li data-level="2">

                     <a
                             href="../log/log.html"
                             id="menu_managersyslog"
                             haschild="false"
                     >
                         <i class="menu-icon fa fa-copy"></i>
                         <span class="menu-text"
                         > 日志查询 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
             </ul>
         </li>
         <li data-level="1">

             <a
                     href="javascript:void(0);" class="dropdown-toggle"
                     haschild="true"
             >
                 <i class="menu-icon fa fa-binoculars"></i>
                 <span class="menu-text"
                       style="vertical-align: middle;"
                 > 系统监控 </span>
                 <b class="arrow fa fa-angle-down"></b>
             </a>
             <b class="arrow"></b>

             <ul class="submenu nav-hide" style="display:none;">
                 <li data-level="2">

                     <a
                             href="../ehcache/ehcache.html"
                             id="menu_managermonitorehcache"
                             haschild="false"
                     >
                         <i class="menu-icon fa fa-crosshairs"></i>
                         <span class="menu-text"
                         > Ehcache监控 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
                 <li data-level="2">

                     <a
                             href="../jvm/jvm.html"
                             id="menu_managermonitorjvm"
                             haschild="false"
                     >
                         <i class="menu-icon fa fa-flash"></i>
                         <span class="menu-text"
                         > jvm监控 </span>
                     </a>
                     <b class="arrow"></b>

                 </li>
             </ul>
         </li>-->
    </ul><!-- /.nav-list -->
</div>
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
       data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>
<script>
    let vm = new Vue({
        el: '#nav-div',
        data: {
            resources: {},
        },
        methods: {
            changeArray: function () {   //将一位节点改为有上下级关系的nodes节点  接着zTree工具
                let setting = {
                    data: {
                        simpleData: {
                            enable: true,
                            idKey: 'id',
                            pIdKey: 'parentId'
                        }
                    }
                };
                let treeObject = $.fn.zTree.init($('#myTree'), setting, this.resources);
                this.resources = treeObject.getNodes();
                //方案二
                for (let i = 0; i <this.resources.length ; i++) {
                    Vue.set(this.resources[i],'arrow',false);
                }
                console.log(this.resources);

               /* $.fn.zTree.destory();*/

            },
            changeArrow:function (r) {
                console.log(r);
                r.arrow=!r.arrow;
            }
        },
        created: function () {   //从sessionStorage域对象里面区 resources
            let mapJson = sessionStorage.getItem("map");
            if (mapJson != undefined && mapJson.length > 0) {
                let map = JSON.parse(mapJson);
                let _resources = map.resources;
                //方案一  在被vue  data接管之前赋值  接管后就会自动生成  get/set机制：
                /*for (let i = 0; i < _resources.length; i++) {
                    _resources[i].arrow = false;
                }*/
                this.resources = _resources;
            }

            this.changeArray();
        }
    });
</script>