<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yjf.dao.SysAreaDao">
    <insert id="insertForeach" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO sys_area
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            default,
            #{item.parentId},
            #{item.parentIds},
            #{item.code},
            #{item.name},
            #{item.type},
            #{item.createBy},
            #{item.createDate},
            #{item.updateBy},
            #{item.updateDate},
            #{item.remarks},
            #{item.delFlag},
            #{item.icon}
            )
        </foreach>
    </insert>


</mapper>